[Unit]
Description=Wildcat TC²-BBS Meshtastic Version
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=20
User=seth
WorkingDirectory=/home/seth/Wildcat-Mesh-System/bbs
ExecStart=/home/seth/Wildcat-Mesh-System/venv/bin/python3 /home/seth/Wildcat-Mesh-System/bbs/server.py
RuntimeMaxSec=300
WatchdogSec=60

[Install]
WantedBy=multi-user.target
